<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AutoLoginFilternew</display-name>
    <filter-name>AutoLoginFilternew</filter-name>
    <filter-class>com.qianfeng.web.filter.AutoLoginFilternew</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilternew</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServlet</display-name>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <url-pattern>/adminDeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddProductServlet</display-name>
    <servlet-name>AdminShowAddProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminShowAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddProductServlet</servlet-name>
    <url-pattern>/adminShowAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowEditProductServlet</display-name>
    <servlet-name>AdminShowEditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminShowEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditProductServlet</servlet-name>
    <url-pattern>/adminShowEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowSearchProductServlet</display-name>
    <servlet-name>AdminShowSearchProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminShowSearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowSearchProductServlet</servlet-name>
    <url-pattern>/adminShowSearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllProductServlet</display-name>
    <servlet-name>ShowAllProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ShowAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllProductServlet</servlet-name>
    <url-pattern>/showAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAllProductServlet</display-name>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <url-pattern>/adminDeleteAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.qianfeng.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShoppingCarServlet</display-name>
    <servlet-name>AddShoppingCarServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AddShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShoppingCarServlet</servlet-name>
    <url-pattern>/addShoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitLoginServlet</display-name>
    <servlet-name>QuitLoginServlet</servlet-name>
    <servlet-class>com.qianfeng.web.QuitLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitLoginServlet</servlet-name>
    <url-pattern>/quitLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/productDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryListServlet</display-name>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <url-pattern>/adminCategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCategoryServlet</display-name>
    <servlet-name>AdminAddCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminAddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCategoryServlet</servlet-name>
    <url-pattern>/adminAddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAllCategoryServlet</display-name>
    <servlet-name>AdminDeleteAllCategoryServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminDeleteAllCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAllCategoryServlet</servlet-name>
    <url-pattern>/adminDeleteAllCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllCarProductServlet</display-name>
    <servlet-name>DeleteAllCarProductServlet</servlet-name>
    <servlet-class>com.qianfeng.web.DeleteAllCarProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllCarProductServlet</servlet-name>
    <url-pattern>/deleteAllCarProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CanceOrderServlet</display-name>
    <servlet-name>CanceOrderServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CanceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanceOrderServlet</servlet-name>
    <url-pattern>/canceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.qianfeng.web.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/createOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AloneBuyServlet</display-name>
    <servlet-name>AloneBuyServlet</servlet-name>
    <servlet-class>com.qianfeng.web.AloneBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AloneBuyServlet</servlet-name>
    <url-pattern>/aloneBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayAndCreateOrderDetailsServlet</display-name>
    <servlet-name>PayAndCreateOrderDetailsServlet</servlet-name>
    <servlet-class>com.qianfeng.web.PayAndCreateOrderDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayAndCreateOrderDetailsServlet</servlet-name>
    <url-pattern>/payAndCreateOrderDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManyOrderByUserServlet</display-name>
    <servlet-name>ManyOrderByUserServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ManyOrderByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManyOrderByUserServlet</servlet-name>
    <url-pattern>/manyOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManyProductByOidServlet</display-name>
    <servlet-name>ManyProductByOidServlet</servlet-name>
    <servlet-class>com.qianfeng.web.ManyProductByOidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManyProductByOidServlet</servlet-name>
    <url-pattern>/manyProductByOidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.qianfeng.web.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/deleteOrderServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.qianfeng.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
 
</web-app>